<div class="paginaCompleta">
    <div class="conRegistro">
      <div style="text-align: center;" *ngIf="!boolEditar">
        <h4> Nuevo cliente</h4>
      </div>
      <div style="text-align: center;" *ngIf="boolEditar">
        <h4> Editar cliente</h4>
      </div>
      <form [formGroup]="clienteForm" (ngSubmit)="!boolEditar ? fnGuardar() :  fnEditar()" >
        <div class="form-group">
          <label class="control-label col-sm-12" for="fname">RFC:</label>
          <div *ngIf="!boolEditar" class="col-sm-12">
            <input formControlName="strRFC" class="form-control input-upper" id="strRFC" placeholder="RFC" type="text" name="strRFC"/>
            <span class="help-bpx" *ngIf="clienteForm.controls['strRFC'].errors">
              <p class="text-danger" [hidden]="clienteForm.controls['strRFC'].pristine">
                Campo requerido
              </p>
            </span>
          </div>
          <label *ngIf="boolEditar" class="control-label col-sm-6" for="fname">{{clienteForm.value['strRFC']}}</label>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-12" for="fname">Nombre:</label>
          <div class="col-sm-12">
            <input formControlName="strNombre" class="form-control" id="strNombre" placeholder="Nombre" type="text" name="strNombre"/>
            <span class="help-bpx" *ngIf="clienteForm.controls['strNombre'].errors">
              <p class="text-danger" [hidden]="clienteForm.controls['strNombre'].pristine">
                Campo requerido
              </p>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="control-label col-sm-12" for="fname">Apellido Paterno:</label>
            <div class="col-sm-12">
              <input formControlName="strApellidoPaterno" class="form-control" id="strApellidoPaterno" placeholder="Apellido Paterno" type="text" name="strApellidoPaterno"/>
              <span class="help-bpx" *ngIf="clienteForm.controls['strApellidoPaterno'].errors">
                <p class="text-danger" [hidden]="clienteForm.controls['strApellidoPaterno'].pristine">
                  Campo requerido
                </p>
              </span>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label col-sm-12" for="fname">Apellido Materno:</label>
            <div class="col-sm-12">
              <input formControlName="strApellidoMaterno" class="form-control" id="strApellidoMaterno" placeholder="Apellido Materno" type="text" name="strApellidoMaterno"/>
              <span class="help-bpx" *ngIf="clienteForm.controls['strApellidoMaterno'].errors">
                <p class="text-danger" [hidden]="clienteForm.controls['strApellidoMaterno'].pristine">
                  Campo requerido
                </p>
              </span>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-12" for="fname">Dirección:</label>
          <div class="col-sm-12">
            <input formControlName="strDireccion" class="form-control" id="strDireccion" placeholder="Dirección" type="text" name="strDireccion"/>
            <span class="help-bpx" *ngIf="clienteForm.controls['strDireccion'].errors">
              <p class="text-danger" [hidden]="clienteForm.controls['strDireccion'].pristine">
                Campo requerido
              </p>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <label class="control-label col-sm-12" for="fname">Genero:</label>
            <div class="col-sm-12">
              <select formControlName="strGenero" class="form-control" id="strGenero" name="strGenero">
                <option value="">--Seleccionar tu genero--</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>
              <span class="help-bpx" *ngIf="clienteForm.controls['strGenero'].errors">
                <p class="text-danger" [hidden]="clienteForm.controls['strGenero'].pristine">
                  Campo requerido
                </p>
              </span>
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <label class="control-label col-sm-12" for="fname">Edad:</label>
            <div class="col-sm-12">
              <input formControlName="intEdad" class="form-control" id="intEdad" placeholder="Edad" type="number" name="intEdad"/>
              <span class="help-bpx" *ngIf="clienteForm.controls['intEdad'].errors">
                <p class="text-danger" [hidden]="clienteForm.controls['intEdad'].pristine">
                  Edad invalida
                </p>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-12" style="display: flex;  justify-content: space-around;">
            <button id="btnsubmit" type="submit" class="btn btn-primary" style="margin-right: 20px;" [disabled]="!clienteForm.valid">Guardar</button>
              <button routerLink="/" type="button" class="btn btn-default btn-danger">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
</div>