<div style="width: 500px;">
    <div class="container">
      <div style="text-align: center;">
        <h4> Nueva cuenta</h4>
      </div>
      <form [formGroup]="cuentaForm" (ngSubmit)="fnGuardar()" >
        <div class="form-group">
            <label class="control-label col-sm-12" for="fname">Numero de cuenta:</label>
            <div class="col-sm-12">
              <input formControlName="numeroCuenta" class="form-control" id="numeroCuenta" placeholder="Numero de cuenta" type="number" name="numeroCuenta"/>
              <span class="help-bpx" *ngIf="cuentaForm.controls['numeroCuenta'].errors">
                <p class="text-danger" [hidden]="cuentaForm.controls['numeroCuenta'].pristine">
                  Numero invalido
                </p>
              </span>
            </div>
          </div>
        <div class="form-group">
          <label class="control-label col-sm-12" for="fname">Saldo actual:</label>
          <div class="col-sm-12">
            <input formControlName="saldo" class="form-control" id="saldo" placeholder="Saldo actual" type="number" name="saldo"/>
            <span class="help-bpx" *ngIf="cuentaForm.controls['saldo'].errors">
              <p class="text-danger" [hidden]="cuentaForm.controls['saldo'].pristine">
                Saldo invalido
              </p>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-12" style="display: flex;  justify-content: space-around;">
            <button id="btnsubmit" type="submit" class="btn btn-primary" style="margin-right: 20px;" [disabled]="!cuentaForm.valid">Guardar</button>
              <button (click)="modalRef?.hide()" type="button" class="btn btn-default btn-danger">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
</div>