<div class="login">
    <form class="formLogin" [formGroup]="loginForm" (ngSubmit)="fnLogin()">
        <h1>Inicio de Sesión</h1>
        <div class="form-group">
            <div class="col-sm-12">
                <input formControlName="email" class="form-control" id="email" placeholder="Correo" type="email" name="email" />
                <span class="help-bpx" *ngIf="loginForm.controls['email'].errors">
                    <p class="text-danger" [hidden]="loginForm.controls['email'].pristine">
                        Campo requerido
                    </p>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input formControlName="password" class="form-control" id="password" placeholder="Contraseña" type="password" name="password" />
                <span class="help-bpx" *ngIf="loginForm.controls['password'].errors">
                    <p class="text-danger" [hidden]="loginForm.controls['password'].pristine">
                        Campo requerido
                    </p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-12" style="display: flex;  justify-content: space-around;">
                <button id="btnsubmit" type="submit" class="btn btn-primary" style="margin-right: 20px;" [disabled]="!loginForm.valid">Iniciar sesion</button>
            </div>
        </div>
    </form>
</div>