<div style="padding: 30px;">
    <div class="container">
      <div *ngIf="!boolDatos">
        <h4> No hay transacciones de esta cuenta.</h4>
      </div>
      <div style="text-align: center;" *ngIf="boolDatos">
        <h2> Lista de transacciones de la cuenta {{jsonCuenta.numeroCuenta}}</h2>
        <ng2-smart-table [settings]="settings" [source]="digital_list"></ng2-smart-table>
      </div>
    </div>
  </div>
