<div>
  <div class="conBotones">
    <button type="button" class="btn btn-success" style="margin-right: 10px;" routerLink="/agregarCliente">Alta de clientes</button>
    <button type="button" class="btn btn-default btn-danger" (click)="CerrarSesion()">Cerrar sesion</button>
  </div>
  <hr>
  <div class="container">
    <div *ngIf="!boolDatos">
      <h4> No hay clientes registrados.</h4>
    </div>
    <div style="text-align: center;" *ngIf="boolDatos">
      <h4> Lista de Clientes</h4>
      <ng2-smart-table [settings]="settings" [source]="digital_list"></ng2-smart-table>
    </div>
  </div>
</div>