<div style="width: 500px;">
    <div class="container">
      <div style="text-align: center;" *ngIf="!isDeposito">
        <h4> Retiro a la cuenta {{numeroCuenta}}</h4>
      </div>
      <div style="text-align: center;" *ngIf="isDeposito">
        <h4> Deposito a la cuenta {{numeroCuenta}}</h4>
      </div>
      <form [formGroup]="transaccionForm" (ngSubmit)="fnGuardar()" >
        <div class="form-group">
          <label class="control-label col-sm-12" for="fname">Monto:</label>
          <div class="col-sm-12">
            <input formControlName="monto" class="form-control" id="monto" placeholder="Edad" type="number" name="monto"/>
            <span class="help-bpx" *ngIf="transaccionForm.controls['monto'].errors">
              <p class="text-danger" [hidden]="transaccionForm.controls['monto'].pristine">
                Monto invalido
              </p>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-12" style="display: flex;  justify-content: space-around;">
            <button id="btnsubmit" type="submit" class="btn btn-primary" style="margin-right: 20px;" [disabled]="!transaccionForm.valid">Realizar</button>
              <button (click)="modalRef?.hide()" type="button" class="btn btn-default btn-danger">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
</div>
