<ng-template #modalTemplate>
    <div [ngSwitch]="strModalOption">
      <app-crear-cuentas *ngSwitchCase="'crearCuenta'" [modalRef]="modalRef" [jsonCliente]="jsonCliente" [jsonCuentas]="listaCuentas" (nuevaCuenta)="fnObtenerCuentas()">
      </app-crear-cuentas>
      <app-ver-transacciones *ngSwitchCase="'verTransacciones'" [modalRef]="modalRef" [jsonCuenta]="jsonCuenta">
    </app-ver-transacciones>
    <app-crear-transacciones *ngSwitchCase="'crearTransacciones'" [modalRef]="modalRef" [numeroCuenta]="numeroCuenta" [isDeposito]="isDeposito" (nuevaTransaccion)="fnObtenerCuentas()">
    </app-crear-transacciones>
      <div *ngSwitchDefault>output2</div>
    </div>
</ng-template>

<div class="paginaCompleta">
    <div class="container">
        <div class="row">
            <div class="col-7" style="display: grid;"v>
                <label>Cliente: {{jsonCliente.strNombre}} {{jsonCliente.strApellidoPaterno}} {{jsonCliente.strApellidoMaterno}}</label>
                <label>RFC: {{jsonCliente.strRFC}}</label>
            </div>
            <div class="col-5 conBotones">
                <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="fnOpenCrearCuenta()">Alta de cuentas</button>
                <button type="button" routerLink="/" class="btn btn-default btn-danger">Atras</button>
              </div>
        </div>
        <hr>
      <div *ngIf="!boolDatos">
        <h5> No hay cuentas para este cliente.</h5>
      </div>
      <div style="text-align: center;" *ngIf="boolDatos">
        <h2> Lista de cuentas</h2>
        <ng2-smart-table [settings]="settings" [source]="digital_list"></ng2-smart-table>
      </div>
    </div>
  </div>
